#App{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

.banner .banner-logo{
    width: 72px;
    height: 81px;
}

.banner-border {
    border-color: rgb(172, 42, 33);
    margin-top: calc(.5rem * calc(1 - 0));
    margin-bottom: calc(.5rem * 0);
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: solid;
    border-left: none;
    border-right: none;
    height: max-content;
    position: relative;
    z-index: 1;
    left: -25px;
    bottom: 20px;
}

.banner-images{
    opacity: 1;
    bottom: -120px;
    left: -50%;
    transform: translateX(63%) !important;
    z-index: 3;
}

.banner-content{
    margin-top: -70px;
}

.banner-date{
    color: var(--black-color);
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding: .5rem;
}