body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

:root {
  --primary-color: rgb(172, 42, 33);
  --white-color: #F9F6F2;
  --green-color: rgb(85, 87, 38);
  --yellow-color: rgb(249, 184, 93);
  --black-color: #171717;
  --section-color: #eee7de;
}

.button {
  padding: 16px 15px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

.green-button{
  background: var(--green-color);
  color: #DDBBC6;
}

.yellow-button {
  background: var(--yellow-color);
  color: rgb(57, 59, 15);
}

.heading-medium {
  font-size: 45px;
}

.heading-small {
  font-size: 24px;
}

.paragraph {
  font-size: 16px;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.align-end{
  align-items: flex-end;
}

.justify-center{
  justify-content: center;
}

.section-primary{
  background-color: var(--section-color);
}

.text-center{
  text-align: center;
}

.red-text{
  font-size: 16px;
  text-shadow: rgb(185, 28, 28) -2px -2px 0px, rgb(185, 28, 28) 2px -2px 0px, rgb(185, 28, 28) -2px 2px 0px, rgb(185, 28, 28) 2px 2px 0px;
  word-spacing: -1px;
  color: #efe7de;
  letter-spacing: .05em;
  font-weight: 600;
  white-space: nowrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.gap-12{
  gap: 12px;
}

.gap-24{
  gap: 24px;
}

.font-extrabold {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[22px\] {
  font-size: 22px;
}

.line-height{
  line-height: 2.5;
}

.text-\[28\.99px\] {
  font-size: 28.99px;
}

.font-birthstone {
  font-family: Birthstone;
}
.rotate-\[-7\.04deg\] {
  --tw-rotate: -7.04deg;
}
.rotate-\[-6\.64deg\], .rotate-\[-7\.04deg\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.left-2 {
  left: .5rem;
}

.badge{
  --tw-text-opacity: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
  width: max-content;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
   --tw-shadow: 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
  --tw-shadow-colored: 1px 0px var(--tw-shadow-color), 2px 2px 0px var(--tw-shadow-color), 3px 3px 0px var(--tw-shadow-color), 4px 4px 0px var(--tw-shadow-color), 5px 5px 0px var(--tw-shadow-color), 6px 6px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.badge-green{
  background-color: var(--green-color);
  color: rgb(221 204 182 / var(--tw-text-opacity, 1));
}

.badge-yellow{
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.red-heading{
  color: rgb(172, 42, 33);
  font-family: Birthstone;
  text-shadow: white -2px -2px 0px, white 2px -2px 0px, white -2px 2px 0px, white 2px 2px 0px, rgb(52, 93, 97) 6px 6px 0px;
  letter-spacing: .025em;
  padding: .5rem;
  font-weight: 700;
}

.flex-1 {
    flex: 1 1 0%;
}

.w-\[319px\] {
    width: 319px;
}
.h-\[393px\] {
    height: 393px;
}
.z-30 {
    z-index: 30;
}

.rotate-\[4\.16deg\] {
    --tw-rotate: 4.16deg;
}
.rotate-\[3deg\], .rotate-\[4\.16deg\] {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.rounded {
    border-radius: .25rem;
}
.overflow-hidden {
    overflow: hidden;
}
.cursor-pointer {
    cursor: pointer;
}
.rotate-\[4\.16deg\] {
    --tw-rotate: 4.16deg;
}
.rotate-\[3deg\], .rotate-\[4\.16deg\] {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.w-\[90\%\] {
    width: 90%;
}
.h-\[90\%\] {
    height: 90%;
}
.top-6 {
    top: 1.5rem;
}
.left-4 {
    left: 1rem;
}

.object-cover {
    object-fit: cover;
}
.border-transparent {
    border-color: transparent;
}

.rotate-\[-9deg\], .rotate-\[11\.48deg\] {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-\[-9deg\] {
    --tw-rotate: -9deg;
}
.max-w-\[127px\] {
    max-width: 127px;
}
.max-h-\[104px\] {
    max-height: 104px;
}
.z-20 {
    z-index: 20;
}
.-right-5 {
    right: -1.25rem;
}
.-bottom-10 {
    bottom: -2.5rem;
}

.h-\[260px\] {
    height: 260px;
}
.bottom-0 {
    bottom: 0;
}

.shadow-3d {
    --tw-shadow: 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
    --tw-shadow-colored: 1px 0px var(--tw-shadow-color), 2px 2px 0px var(--tw-shadow-color), 3px 3px 0px var(--tw-shadow-color), 4px 4px 0px var(--tw-shadow-color), 5px 5px 0px var(--tw-shadow-color), 6px 6px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pt-\[15px\] {
    padding-top: 15px;
}
.pb-5 {
    padding-bottom: 1.25rem;
}
.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.gap-5 {
    gap: 1.25rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-\[280px\] {
    width: 280px;
}
.h-\[77px\] {
    height: 77px;
}
.flex {
    display: flex;
}
.z-10 {
    z-index: 10;
}
.bottom-9 {
    bottom: 2.25rem;
}

.object-top {
    object-position: top;
}
.object-cover {
    object-fit: cover;
}

.font-birthstone {
    font-family: Birthstone;
    font-size: 25px;
}

.font-phudu {
    font-family: Phudu;
}
.py-\[56px\] {
    padding-top: 56px;
    padding-bottom: 56px;
}
.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
}
.gap-8 {
    gap: 2rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.max-w-\[1443px\] {
    max-width: 1443px;
}
.flex {
    display: flex;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-1 {
    flex: 1 1 0%;
}
.h-fit {
    height: fit-content;
}

.h-\[400px\] {
    height: 400px;
}

.text-center {
    text-align: center;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.w-full {
    width: 100%;
}
.top-\[53px\] {
    top: 53px;
}

.leading-\[42\.88px\] {
    line-height: 42.88px;
}
.font-bold {
    font-weight: 700;
}
.text-\[35px\] {
    font-size: 35px;
}
.text-center {
    text-align: center;
}
.p-2 {
    padding: .5rem;
}
.bg-transparent {
    background-color: transparent;
}
.border-transparent {
    border-color: transparent;
}
.border-2 {
    border-width: 2px;
}
.rounded-lg {
    border-radius: .5rem;
}
.resize-none {
    resize: none;
}
.w-full {
    width: 100%;
}
.h-\[42px\] {
    height: 42px;
}

.leading-\[30\.63px\] {
    line-height: 30.63px;
}
.text-\[25px\] {
    font-size: 25px;
}
.text-center {
    text-align: center;
}
.pt-\[9px\] {
    padding-top: 9px;
}
.p-2 {
    padding: .5rem;
}
.bg-transparent {
    background-color: transparent;
}
.border-transparent {
    border-color: transparent;
}
.border-2 {
    border-width: 2px;
}
.rounded-lg {
    border-radius: .5rem;
}
.resize-none {
    resize: none;
}
.w-full {
    width: 100%;
}
.h-\[43px\] {
    height: 43px;
}

.pt-4 {
    padding-top: 1rem;
}

.text-\[32px\] {
    font-size: 32px;
}
.font-birthstone {
    font-family: Birthstone;
}
.rotate-\[7\.04deg\], .scale-105 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-\[7\.04deg\] {
    --tw-rotate: 7.04deg;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}